* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: linear-gradient(220deg, #ffed606e, #ffaa00d6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.subject {
}
.love span {
  width: 100px;
  height: 100px;
  background-color: #ff6e9c;
  display: block;
  border: 1px solid #ff6e9c;
  border-radius: 100%;
  position: absolute;
}
.love span:nth-child(1) {
  transform: translate(28px, -28px);
  animation: donghua1 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
.love span:nth-child(2) {
  transform: translate(-28px, -28px);
  animation: donghua2 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
.love span:nth-child(3) {
  border-radius: 5%;
  position: relative;
  transform: scale(0.98) rotate(-45deg);
  animation: donghua3 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}
@keyframes donghua1 {
  40% {
    transform: scale(0.4);
  }
}
@keyframes donghua2 {
  40% {
    transform: scale(0.4);
  }
}
@keyframes donghua3 {
  50% {
    border-radius: 100%;
    transform: scale(0.5) rotate(-45deg);
  }
  100% {
    transform: scale(0.98) rotate(-45deg);
  }
}
.shadow {
    
}
